@charset "UTF-8";
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  max-width: 1700px;
  width: 100%;
}

#header {
  width: 100%;
  background-color: #1fe0;
  position: fixed;
}

.header-inner {
  padding: 40px 50px;
  width: 1300px;
  margin: 0 auto;
}

.header-nav ul {
  display: flex;
  justify-content: space-between;
}

.header-nav-item {
  padding-left: 20px;
}

.header-nav-item a {
  display: inline-block;
  font-weight: bold;
  position: relative;
}

.header-nav-item a:hover {
  color: #ff00ff;
  transition: all 1s ease;
}

.header-nav-item a.current::before {
  content: "";
  display: block;
  position: absolute;
  top: 7px;
  left: -15px;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #ff00ff;
}

#top-page {
  height: 180vh;
  background-color: #faebd7;
}

#section1 {
  height: 180vh;
  background-color: #deb887;
}

#section2 {
  height: 180vh;
  background-color: #b8c4ad;
}

#section3 {
  height: 180vh;
  background-color: #fafad2;
}

#section4 {
  height: 180vh;
  background-color: #ffb6c1;
}

#section5 {
  height: 180vh;
  background-color: #87cefa;
}

.inner {
  margin: 0 auto;
  max-width: 900px;
  width: 100%;
}

.current {
  color: #ff00ff;
}